[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/bundle/ale-platformio"]
	path = vim/bundle/ale-platformio
	url = https://github.com/meck/ale-platformio.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
